/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* root met wat kleuren die apple het meeste gebruikt + more */
:root {
  --main-color: #fff;
  --background-color: #000;
  --background-color-marker: darkred; 
  --background-color-nav: #1D1D1F;
  --background-color-welkom: #f5f5f7;
  --background-color-storewelkom: #06c;
  --color-link: #06c;
  --color-footer-text: #86868b;
  --color-special-text: #fec2eb;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  /* font aanroepen */
  font-family:  SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;

  /* letter spacing van de apple site overgenomen */
  letter-spacing: -.022em;
  color: #1D1D1F;
  font-style: normal;
  line-height: 1.5;
}

h2, h3, p {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

p {
  padding: .5em 1.5em;
  font-size: .7em;
}

/* begin header styling */
header nav {
  /* header items naast elkaar en even ruimte tussen elkaar, NIET aan de buitenkant tho */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: .75em;
  padding-right: .75em;

  /* hiermee blijft de nav boven volgen */
  position: fixed;
  width: 100%;

  /* hier blijft de nav tegen de boven kant aan */
  top: 0;
  overflow: hidden;

  background-color: var(--background-color-nav);

  /* de nav is iets doorzichtig */
  opacity: .98;


  transition: .4s;
}

header nav ul {
  margin: 0;
  padding: 1em;
}

header nav img {
  width: .9em   ;
}

nav.navigation-menu-hidden {
  position:fixed;
	left:0;
	right:0;
	top:0;
	
	transform:translateY(-100%);
	
	transition:.5s;
}

nav.navigation-menu {
  transform:translateY(21%);
}

nav.navigation-menu ul li {
  color: white;
  list-style: none;
  text-decoration: none;
}

nav.navigation-menu ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}

/* begin main styling */
main {
  /* duwt de content van de main iets naar benenden */
  margin-top: 2.9em;
}

main section {
  height: 27.4em;
  padding: .5em;
}

/* styling voor alle links in de sections, NIET er buiten */
main section a { 
  color: var(--color-link);
  font-size: .8em;
  text-decoration: none;
  text-align: center;
}

/* styling voor de unieke welkom message aan de bovenkant */
main section:nth-of-type(1) {
  height: 0%;
  background-color: var(--background-color-welkom);
}

main section:nth-of-type(3) {
  background-color: var(--background-color-marker);
  background-image: url("../images/iPhone13_section2.jpeg");
  background-size: 200% 150%;
  background-position: center;
  color: var(--main-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section:nth-of-type(3) h3 {
  color: var(--color-special-text);
}

main section:nth-of-type(4) {
  background-image: url("../images/watch7.jpeg");
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.5em;
}

main section:nth-of-type(4) img {
  width: 8em;
}

main section:nth-of-type(4) p {
  font-size: .9em;
  color: var(--color-footer-text);
}

main section:nth-of-type(5) {
  background-color: var(--background-color-welkom);
}

/* specifieke styling voor de paginas */
main.home section:nth-of-type(2) {
  background-color: var(--background-color);
  background-image: url("../images/iPhone13_section1.jpeg");
  background-size: 100% 100%;
}

main.store section:nth-of-type(1) {
  height: 0%;
  background-color: var(--background-color-storewelkom);
}

main.store section:nth-of-type(1) p {
  color: var(--main-color);
}

main.store section:nth-of-type(2) h2 {
  font-size: 1.6em;
  text-align: left;
  margin: 1em;
}

.section-links {
  width: 90%;
  display: flex;
  margin: 1em;
  justify-content: space-evenly;
}

/* begin footer styling */
footer {
  background-color: var(--background-color-welkom);
  margin-top: .5em;
}

footer section {
  padding: .5em 0;
}

footer section p{ 
  margin: 0;
  padding: 0 .6em;
  text-align: left;
  font-size: .6em;
  color: var(--color-footer-text)
}

/* de styling voor deze p was anders */
footer section.huidige-locatie p {
  font-weight: 700;
}

footer section nav ul li { 
  text-decoration: none;
  list-style: none;
  font-size: .6em;
  margin-bottom: .4em;
}

footer section a {
  font-size: .6em;
  margin: 0; 
  padding: 0 .6em;
  text-decoration: none;
}





